
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font, .card-title, .card-description, .footer-title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */
main>section{
    margin-top: 130px;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}

.primary-btn{
    width: 181px;
    height: 64px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    /* button ke rr responsive kora hoa nai padding px ai dicci */
    padding: 20px 25px; 
    margin-top: 30px;

}


/* orange color */
.orange-color{
    color: rgba(255, 144, 14, 1);
}
/* dark 01 */
.text-dark-01, .card-title{
    color: rgba(19, 19, 19, 1);
}
/* dark 02 */
.text-gray, .footer-title{
    color: #424242;
}
/* dark 03 */
.text-gray-light, .card-description{
    color: #727272;
}
/* header styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav bar related styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: ;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner part */
.banner-contain{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    
}
.banner-image{
    width: 100%;
}

/* features will enjoy */
.feature-section{
    gap: 245px;
    margin-bottom: 30px;
}
.top-left-line{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}
.feature-section-title{
    font-size: 2.8rem;
    font-weight: 700;
    max-width: 468px;
}

.feature-section-description{
    font-weight: 400;
    font-size: 1rem;
    max-width: 586px;
    margin-bottom: 30px;
}

.feature-card{
    max-width: 586px;
    max-height: 171px;
    border-radius: 8px;
    /* border: 1px solid teal; */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    
    margin-bottom: 20px;
    padding: 30px 42px 30px 30px;

}

.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 30;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-description{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
}

/* team and feature style */
.team{
    align-items: center;
    margin: 40px 50px 0px 50px;
}
.team-picture-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}


.quick-list{
    font-weight: 500;
    font-size: 2.8rem;
    

}

.of-our{
    font-weight: 700;
    font-size: 2.8rem;
    padding-left: 0.438rem;
}
.features-text{
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-image img{
    width: 100%;
}

/* Some Facts part */
.button-experience{
    background-color: rgba(255, 144, 14, 1);
    padding: 46px 42px 45px 42px;
    border-radius: 8px;
    border: none;
    margin-top: -133px;
    margin-left: -86px;
}
.ten-years{
    font-size: 4.063rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.Experience{
    font-size: 1.563rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.some-facts-title{
    font-size: 2.8rem;
    font-weight: 700;
    width: 258px;
    height: 53px;
    margin-top: 130px;
    margin-bottom: 0px;
}
.some-facts-description{
    font-size: 1rem;
    font-weight: 400;
    width: 540px;
    margin-top: 23px;
    margin-bottom: 0px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 50px 0px;
    
}

.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    

}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.fact-icon{
    width: 45px;
    height: 45px;
    margin-top: 45px;
}

/* Our Sponspors part */
.Sponspors{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.Sponspors-title{
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 180px;
    margin-bottom: 0px;
}

.Sponspors-description{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 0px;
}

.sponspors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
   
}

.sponspors-company img{
    filter: grayscale(100%);
}
/* our sponsors */
.Our-Sponspors{
    margin-bottom: 0px;
}

/* footer part */
.footer-section{
    /* justify-items: center; */
    /* justify-content: center; */
    text-align: center;
    /* max-width: 1440px; */
    max-width: 1440px;
    margin: 0 auto;
}
.footer-div{
    /* border: 2px solid tomato; */
    background-color: rgba(255, 244, 231, 1);
    margin-top: 130px;
    padding-top: 39px;
    padding-bottom: 38px;
    margin-bottom: 130px;

}
.footer-title{
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0 auto;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-links, .navbar, .team, .feature-section {
        flex-direction: column;
       
    }
    .team-picture-container, .facts-container, .sponspors-company {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }

    .facts-container{
        justify-items: center;
        margin-bottom: 2px;
    }
    .sponspors-company{
        justify-items: center;
        margin: 0 auto;
        gap: 24px;
    }
    /* feature-section */
    .feature-image{
        justify-items: center;
    }
    .button-experience{
        margin-top: 20px;
        margin-left: 33px;
        margin-right: 33px;
       
    }
    .fact-card{
        margin-top: 22px;
    }
    .some-facts-title{
        margin: 0 auto;
    }
    .some-facts-description{
        width: 100%;
        text-align: center;
    }


}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team, .feature-section {
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

    .sponspors-company{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
        justify-items: center;
        margin: 0 auto;
    }

    .some-facts-title{
        margin: 0 auto;
    }
    .some-facts-description{
        width: 100%;
        text-align: center;
    }

    .facts-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 0 auto;
        
    }
    /* feature section */
    .features{
        justify-items: center;
        margin: 0 auto;
    }
    .feature-section-title{
        margin-right: 160px;
    }
    .feature-image{
        margin-top: -193px;
    }
    .button-experience{
        margin-top: 20px;
        margin-left: 278px;
    }
}

