
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
main>section{
    margin-top: 130px;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}

.primary-btn{
    width: 181px;
    height: 64px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    /* button ke rr responsive kora hoa nai padding px ai dicci */
    padding: 20px 25px; 
    margin-top: 30px;

}
/* orange color */
.orange-color{
    color: rgba(255, 144, 14, 1);
}
/* dark 01 */
.text-dark-01{
    color: rgba(19, 19, 19, 1);
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-gray-light{
    color: #727272;
}
/* header styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav bar related styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: ;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner part */
.banner-contain{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    
}
.banner-image{
    width: 100%;
}
/* team and feature style */
.team{
    align-items: center;
    margin: 40px 50px 0px 50px;
}
.team-picture-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}


.quick-list{
    font-weight: 500;
    font-size: 2.8rem;
    

}

.of-our{
    font-weight: 700;
    font-size: 2.8rem;
    padding-left: 0.438rem;
}
.features-text{
    font-size: 2.8rem;
    font-weight: 700;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-links, .navbar, .team {
        flex-direction: column;
        background-color: red;
    }
    .team-picture-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}